Repository SnO2WMaN/zihanki: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.json": [
    "prettier --write",
    "git add"
  ],
  "*.{yml,yaml}": [
    "prettier --write",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ],
  "*.html": [
    "prettier --write",
    "git add"
  ],
  "*.js": [
    "prettier --write",
    "git add"
  ],
  "*.jsx": [
    "stylelint --fix",
    "prettier --write",
    "git add"
  ],
  "*.ts": [
    "prettier --write",
    "git add"
  ],
  "*.tsx": [
    "stylelint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{css,scss,sass}": [
    "stylelint --fix",
    "prettier --write",
    "git add"
  ]
}

✨ PWA対応
  .eslintrc
  .nowignore
  brand/icon.vox
  next.config.js
  now.json
  package.json
  public/icons/icon.png
  public/manifest.json
  src/pages/_document.tsx
  yarn.lock
Due: prettier --write, stylelint --fix

⬆️ &#x60;eslint-plugin-unicorn&#x60;をv16に更新
  package.json
  yarn.lock
Due: prettier --write

🔧 `.npmrc`を更新
  .npmrc
Due: none

👷(CircleCI) 設定ファイル変更
  .circleci/config.yml
Due: prettier --write

✨ ビルド前にアイコンをリサイズする
  .eslintrc
  bin/icon.js
  package.json
  public/.gitignore
  public/icon.png
  yarn.lock
Due: prettier --write

✨`manifest.json`に縮小されたアイコンについて記載
  public/manifest.json
Due: prettier --write

🙈 `.nowignore`を更新
  .nowignore
Due: none

🔥 不要なファイル削除
  public/icons/icon.png
Due: none

🔧 `.fossa.yml`のコメントを削除
  .fossa.yml
Due: prettier --write

👷(Renovate) プルリクエストを`dev`ブランチに送るように設定
  renovate.json
Due: prettier --write

🔧 `yarn.lock`修正
  yarn.lock
Due: none

👷(CircleCI) ライセンスチェックをRenovate Botのブランチのみで行うように設定
  .circleci/config.yml
Due: prettier --write

🐛 アイコン生成の時にパス解決が失敗していたのを修正
  bin/icon.js
Due: prettier --write

📌 `now`のバージョンをv17に指定
  package.json
  yarn.lock
Due: prettier --write

🔧 `now`がv17になった関係の更新
  .circleci/config.yml
  .gitignore
  now.json
Due: prettier --write

⬆️ &#x60;stylelint-config-standard&#x60;をv20に更新
  package.json
  yarn.lock
Due: prettier --write

⬆️ Node.jsをto v12.16.1に更新
  .circleci/config.yml
Due: prettier --write
