Repository SnO2WMaN/zihanki: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

👷(CircleCI) 設定ファイルを記述
  .circleci/config.yml
Due: prettier --write

🔧 lintの際にPrettierでもチェックするように設定
  package.json
Due: prettier --write

📌(Node.js) v12.14.1に固定
  .node-version
Due: none

🚥 Stylelintによる警告を修正
  src/components/GlobalNav/HamburgerButton.tsx
  src/components/GlobalNav/index.tsx
  src/components/SideMenu/CloseFader.tsx
  src/components/SideMenu/Column.tsx
  src/components/SideMenu/index.tsx
  src/styles/global.css
Due: prettier --write, stylelint --fix

👷(FOSSA) 設定ファイルを追加
  .fossa.yml
Due: prettier --write

👍 i18nextのログを開発環境でのみ表示するように設定
  src/locales/i18n.ts
Due: prettier --write

🔧 build, startをnpm scriptsに追加
  package.json
Due: prettier --write

➕ `npm-run-all`を追加
  package.json
  yarn.lock
Due: prettier --write

🔧 npm-scriptsを`concurrently`から`npm-run-all`へ移行
  package.json
Due: prettier --write

➖ `concurrently`を削除
  package.json
  yarn.lock
Due: prettier --write

👷(CircleCI) FOSSAによるライセンスチェックを導入
  .circleci/config.yml
Due: prettier --write

👷(CircleCI) `fossa-cli`のインストールのタイミングを変更
  .circleci/config.yml
Due: prettier --write

👷(Renovate) コミットメッセージが日本語になるように設定
  renovate.json
Due: prettier --write

👷(CircleCI) キャッシュ周りを修正
  .circleci/config.yml
Due: prettier --write

👷(CircleCI) FOSSAによる出力をアーティファクトとして保存
  .circleci/config.yml
Due: prettier --write

👷(CircleCI) 依存関係のインストールが行われなかった問題を修正
  .circleci/config.yml
Due: prettier --write

👷(CircleCI) アーティファクトの保存先に環境変数が使用できないので修正
  .circleci/config.yml
Due: prettier --write

👷(CircleCI) Lintの出力ファイルをアーティファクトへ保存
  .circleci/config.yml
Due: prettier --write

👷(CircleCI) アーティファクトの保存ディレクトリが作られない問題を修正
  .circleci/config.yml
Due: prettier --write

📖(CONTRIBUTING) Gitmojiをいくつか追加
  CONTRIBUTING.md
Due: prettier --write

➕ ESLint周りのパッケージを追加
  package.json
  yarn.lock
Due: prettier --write

🔧 ESLintの設定
  .eslintignore
  .eslintrc
  src/components/.eslintrc
Due: none

🙈 `.prettierignore`を更新
  .prettierignore
Due: none

🔧 npm-scriptsを更新
  package.json
Due: prettier --write

👷(CircleCI) ESLintのテストメタデータを保存
  .circleci/config.yml
Due: prettier --write

🙈 `.gitignore`から`.vscode`ディレクトリを除外
  .gitignore
Due: none

🔧(VSCode) 推奨される拡張機能と設定を明記
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

🚥 ESLintによる警告を修正
  src/components/GlobalNav/HamburgerButton.tsx
  src/components/GlobalNav/index.tsx
  src/components/SideMenu/CloseFader.tsx
  src/components/SideMenu/Column.tsx
  src/components/SideMenu/index.tsx
  src/locales/i18n.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/state/SideMenuManager.ts
Due: prettier --write, stylelint --fix

🔧 `eslint-plugin-react-hooks`について設定
  .eslintrc
Due: none

👷(Renovate) 設定ファイルのミスを修正(#3)
  renovate.json
Due: prettier --write

➕ `@arkweid/lefthook`を追加
  package.json
  yarn.lock
Due: prettier --write

🔧 Lefthookの設定
  lefthook.yml
Due: prettier --write

🙈 ローカルのLefthookの設定を無視するように`.gitignore`を更新
  .gitignore
Due: none

➖ `lint-staged`と`husky`を削除
  package.json
  yarn.lock
Due: prettier --write

🔥 `.lintstagedrc`と`.huskyrc`を削除
  .huskyrc
  .lintstagedrc
Due: none

🔧(Now) 設定ファイルの追加
  now.json
Due: prettier --write

👷(CircleCI) `master`ブランチのみで本番デプロイを行うように設定
  .circleci/config.yml
Due: prettier --write

👷(CircleCI) デプロイの承認について修正
  .circleci/config.yml
Due: prettier --write

👷(CircleCI) `now`のインストールに関して修正
  .circleci/config.yml
Due: prettier --write

📖 `README.md`を追加
  README.md
Due: prettier --write

Path conditions:
  prettier --write: ((((((((any of: *.json) or (any of: *.{yml,yaml})) or (any of: *.md)) or (any of: *.html)) or (any of: *.js)) or (any of: *.jsx)) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.{css,scss,sass})
  stylelint --fix: ((any of: *.jsx) or (any of: *.tsx)) or (any of: *.{css,scss,sass})
